
 

<style>

.lb-cart-drawer-item-title {
    font-family: 'Bebas Neue'!important;
  font-size: 18px!important;
}
.as-st-0016-text{
font-family: 'Open Sans'!important;
    text-transform: none!important;
    line-height: 14px!important;
    margin: -3px 0px!important;
}
/*
.lb-nav-higlight {
padding: 18px;
margin-top: -23px;
overflow: hidden;
}
*/
.lb-mobile-nav-sub-item-link-newdesign {
    color: #222426!important;
}

.lb-nav-higlight {
margin: -12px 9px 18px 9px;
border-radius: 9px;
overflow: hidden;
}
</style>







<style>
{% if product.title contains '3x festes Shampoo nach Wahl' %}
.gbbMixFooterDiscountedPriceValue::after { 
  content: "Du sparst 25%";
  display: inline-block;
  margin-left: 8px;
  padding: 4px 10px;
  position: relative; 
  top: -3px;
  background-color: #d4a55d;
  color: #000;
  font-weight: normal;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1.4;
}
{% else %}
.gbbMixFooterDiscountedPriceValue::after {
  content: "Du sparst 20%";
  display: inline-block;
  margin-left: 8px;
  padding: 4px 10px;
  position: relative;
  top: -3px;
  background-color: #d4a55d;
  color: #000;
  font-weight: normal;
  border-radius: 8px;
  font-size: 10px;
  line-height: 1.4;
}
{% endif %}
</style>




















<style>

.pdp-freegift-banner {
display: block!important;
}




.freegiftbar {
  display: block!important;
}

.lb-cart-freeshipping-bar {
      padding: 24px 9px!important;
}

.lb-new-shipping {
  display: block!important;
}

.lb-old-shipping {
  display: none!important;
}

#shippingnew {
  display: block!important;
    position: relative;
    top: -14px;
    line-height: 16px;
    font-weight: bold;
}

.lb-cart-freeshipping-bar-out {    
  position: relative;
    top: -7px;
}

.shippingold {
  display: none!important;
}


  
                                    #shippingboar {width: 50%!important;
                                      float: left;
                                      background: white;
                                      height: 3px;}

                                    .lb-cart-freeshipping-bar p {
                                      margin-bottom: 8px!important;
                                    }

                                    .lb-cart-freeshipping-bar-holder {
                                      overflow: hidden;
                                      margin-top: 3px;
                                      margin-bottom: 0px!important;
                                    }

                                      .lb-cart-freeshipping-bar {
                                      padding-bottom: 14px!important;
                                    }

                                    .freegiftbar {
                                      width: 50%;float: right;
                                      background: white;
                                      height: 4px;
                                      position: relative;
                                    }

                                            .freegiftbar-div {
                                          height: 4px;
                                              background: #3c3c3a;
                                              width: 0%;
                                            }


                                    .freegiftbar img {
                                      width: 24px;
                                      margin-right: 4px;
                                    }

                                    .freegiftbar-shipping img {
                                       width: 14px;
                                    }
                                    
                                   .freegiftbar-shipping {
                                      
                                     position: absolute;
                                     left: 0px;
                                     top: -9px;
                                     padding:6.5px 6px;
                                     background: white;
                                    color: black;
                                     border-radius: 50px;
                                     display: flex;
                                     align-items: center;
                                     font-size: 12px;
                                     font-weight: bold;
                                    }

.freegiftbar-shipping-on {
                                   background: #3c3c3a;
                                    color: white;
}

                                    .freegiftbar-shipping-on:after , .freegiftbar-gift-on:after, .freegiftbar-gift-2-on:after {
                                    position: absolute;
                                    top: -5px;
                                    content: '✔';
                                    padding: 2px;
                                    color: white;
                                    border-radius: 500px;
                                    width: 11px;
                                    background: #3c8646;
                                    text-align: center;
                                    height: 11px;
                                    line-height: 11px;
                                    font-size: 10px;
                                    right: -8px;
                                    }
.freegiftbar-shipping img {
                                    filter: invert(1);
}
.freegiftbar-shipping-on img {
                                    filter: invert(0)!important;
}


 

                                    .freegiftbar-gift {
                                      
                                      position: absolute;
                                      right: 0px;
                                     top: -9px;
                                      padding: 1px 6px;
                                    background: white;
                                    color: black;
                                      border-radius :50px;
                                      display: flex;
                                      align-items: center;
                                      font-size: 12px;
                                      font-weight: bold;
                                    }

    .freegiftbar-gift-on {
                                   background: #3c3c3a;
                                    color: white;
}

                   .freegiftbar-gift img {
                                    filter: invert(0);
}
    .freegiftbar-gift-on img {
                                    filter: invert(0)!important;
}




.freegiftbar-gift-2 {
 position: absolute;
                                      right: -18px;
                                     top: -9px;
                                      padding: 1px 6px;
                                     background: white;
                                    color: black;
                                      border-radius :50px;
                                      display: flex; /*flex;*/
                                      align-items: center;
                                      font-size: 12px;
                                      font-weight: bold;
}                

   .freegiftbar-gift-2-on {
                                   background: #3c3c3a;
                                    color: white;
}


                      .freegiftbar-gift-2 img {
                                    filter: invert(0);
}
    .freegiftbar-gift-2-on img {
                                    filter: invert(0)!important;
}

<style>
{% if customer.email contains '@lfionsbranding' %}


  
{% endif %}


































<!-- Reviews Badge -->
<style>
.hidereviews {
  display: none!important; 
}

  
.R-LauncherButton { 
  position: fixed!important;
  bottom: 90px!important;
  max-width: 80px!important;
  top: auto!important;
  padding-top: 50px!important;
  left: 18px!important;
  border-radius: 100px!important;
 box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2)!important;
     min-width: 0px!important;
    min-height: 0px!important;
 
}

.R-RatingStars {
     min-width: 0px!important;
}

.isActive {
   padding-top: 9px!important;
}

.isActive:before {
  display: none!important;
}
 
.R-LauncherButton:before {
  content: ' ';
  width: 45px!important;
  height: 45px!important;
  position: absolute!important;
  top: 9px!important;
  left: 17px!important;
  z-index: 9!important;
  background: url("https://cdn.shopify.com/s/files/1/0317/7116/4804/files/reviewsio.webp?v=1736002637")!important;
  background-size: 45px!important;
  }

  .cssVar-launcherbutton__textg {
font-family: "Bebas Neue" !important;
}


  .stars__icon {
    margin: 0px -2px!important;
  }

  
  .FloatingPanel {
 position: fixed!important;
  bottom: 140px!important;
    border-radius: 0px!important;
  top: auto!important;
  left: 18px!important;
    max-height: 70%!important;
 box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.2)!important;
  }

@media only screen and (max-width: 600px) {
  .FloatingPanel {
 width: 90%!important;
  }

}

  .R-Logo, .R-TextBody:nth-of-type(3) { 
   display: none!important;
}
.cssVar-launcherbutton__text {
  font-weight: bold!important;
}


</style>










    <script>
    window.Shopify = window.Shopify || {theme: {id: {{ theme.id }}, role: '{{ theme.role }}' } };
    window._template = {
        directory: "{{ template.directory }}",
        name: "{{ template.name }}",
        suffix: "{{ template.suffix }}"
    };
  </script>
  <script type="module" blocking="render" fetchpriority="high" src="https://cdn.intelligems.io/esm/852f593b0148/bundle.js"></script>
    
    
    
    
    
    


    
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            function updateHeight() {
                var referenceDiv = document.querySelector('.lb-cart-drawer-footer-holder');
                var referenceHeight = referenceDiv.offsetHeight;
                var targetDiv = document.querySelector('.lb-cart-drawer-item-box');
                targetDiv.style.height = `calc(100% - ${referenceHeight + 100}px)`;
            }

            // Initiale Höhe setzen
            updateHeight();

            // Event-Listener hinzufügen, um die Höhe bei Änderungen zu aktualisieren
            window.addEventListener('resize', updateHeight);
        });
    </script>

<style>
  .template-product #__pf [data-pf-type="ProductPreview"] {
    display: none;
  }
  #pandectes-banner {
    background-color: #00000099;
height: 100%; 
  }
 

.lb-cart-drawer-box-header-closer, .lb-mobile-nav-inner-header-closer {
  width: 18px;
  height: 18px;
  margin-top: 3px;
}
  
  
  .body-scroll-stop {
    overflow: hidden!important;
  }

.lb-campaign-collection-intro h3 {
  font-family: "Bebas Neue";
  font-size: 24px;
}

  .lb-campaign-collection-item-subheadline {
    font-family: "Open Sans";
  }


  @media only screen and (max-width: 500px) {
  #epb_content {
    padding: 9px 0px;
  }
    #epb_timer {
      top: 2px;
            left: 5px;
    }
  }


  @media only screen and (max-width: 350px) {
  #epb_content {
    padding: 0px 0px;
  }
    #epb_timer {
      top: 2px;

    }
  }
  
</style>



<script>
window['ablyft'] = window['ablyft'] || [];
window['ablyft'].push({
    eventType: 'custom',
    eventName: 'kufe',
    eventValue: 0 //optional
});
</script>



<script>
// Sie können diesen Code in einer separaten JavaScript-Datei platzieren oder in einem <script>-Tag in Ihrer HTML-Datei.

document.addEventListener('DOMContentLoaded', (event) => {
    var loadMoreButton = document.querySelector('.pf-cmIldm');
    
    if(loadMoreButton) {
        loadMoreButton.textContent = 'Mehr laden';
        loadMoreButton.classList.add('new-load-more-style');
    } else {
        console.error('Der Load More-Button wurde nicht gefunden');
    }
});

</script>

<style>

  /* Sie können diesen Stil in einer separaten CSS-Datei platzieren oder in einem <style>-Tag in Ihrer HTML-Datei. */
.new-load-more-style {
    background-color: #3C3C3B;
    border: none;
  padding: 9px 36px;
    color: white;
  height:auto!important;
  border-radius: 6px!important;
  margin-top: 36px!important;
  font-family: 'Bebas Neue'!important;
  font-size: 18px!important;
}
/* Sie können diesen Stil in einer separaten CSS-Datei platzieren oder in einem <style>-Tag in Ihrer HTML-Datei. */
.new-load-more-style:disabled {
    display: none!important;
}

  .dnUURD .pf-cmIldm[disabled] {
    display: none!important;
}



  .lb-header-cart-after, .lb-header-search-icon-after, .lb-header-burger-menu-after, .lb-header-account-before {
    font-weight: bold;
  }

  .lb-header-cart-active {
    width: 32px;
    height: 32px;
  }

  
  
  </style>
    
<style>

.shopify-policy__body a {
    color: black;
    text-decoration: underline;
}




  .lb-blog-title {
    color: #3c3c3b;}

  .featured-blog__title {
      font-family : "Bebas Neue" !important;
  font-size: 22px!important;
  }



  .lb-search-results-products h3 {
      font-family : "Bebas Neue" !important;
  font-size: 22px!important;
    color: #3c3c3b!important;
  }

  

  

  

  

  
.lb-legal-badges-holder {
  max-width: 600px;
  margin-top: 28px;
  margin-bottom: -24px;
  overflow: hidden;
}

.lb-legal-badges-holder img {
  max-width: 92px;
  margin: 0px auto 18px auto;
  display: block;
}

.lb-legal-badges-holder p {
  max-width: 300px;
  margin: 0px auto 18px auto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
  
.lb-legal-badges {
  padding: 18px;
  border-radius: 9px;
  float: left;
  width: 49%;
  color: black;
  text-align: center;
  font-size: 14px;
  margin-right: 2%;
  margin-bottom: 2%;
  background: #efece0;
  text-decoration: none!important;
} 

.lb-legal-badges-two {
    margin-right: 0%;
}

@media only screen and (max-width: 600px) {
  
.lb-legal-badges {
  width: 100%;
  margin-right: 0%;
} 
}
  
</style>









<style>

.shopify-policy__title {
  font-family : "Bebas Neue" !important;
}

  .shopify-policy__body {
    font-family: Opensans;
  }

  .shopify-challenge__container, .shopify-policy__container {
    padding: 36px 18px!important;
  }
  
  </style>









<script>
  window.addEventListener('DOMContentLoaded', function() {
      $(window).scroll(function blog(){
        if ($(this).scrollTop() > 850) {
           $('.to_the_shop').addClass('to_the_shop_fixed');
        } else {
           $('.to_the_shop').removeClass('to_the_shop_fixed');
        }
    });
  });
</script>

<script></script>

<style>


.pf-accordion-show {
  height: auto!important;
}
  
  

    /* Hide scrollbar for Chrome, Safari and Opera */
  .image-list::-webkit-scrollbar {
  display: none!important;
}

/* Hide scrollbar for IE, Edge and Firefox */
  .image-list {
  -ms-overflow-style: none!important;  /* IE and Edge */
  scrollbar-width: none!important;  /* Firefox */
}



    @media only screen and (max-width: 900px) {

.RatingBarWidget__inner{
  margin-top: 3px!important;
}
      
  .new-top-banner-text {
    top: 16px!important;
  }
  


    }
  



  .lb-mobile-nav-main-item-link {
    text-transform: uppercase!important;
  }

  .lb-mobile-nav-sub-item-link {
    text-transform: initial!important;
  }

  
    .ricon-thin-close:before {
      color: black!important;
    }




    .lb-mobile-nav-inner-nav ul {
        list-style-type: none;
      padding: 0px;
    }



                    @font-face {
    font-family: "BebasNeues";
    src: url("https://cdn.shopify.com/s/files/1/0317/7116/4804/files/BebasNeue-Regular_0ba96735-e582-4946-bbd6-edd171187d1a.ttf?v=1698664985") format("woff2"),
         url("https://cdn.shopify.com/s/files/1/0317/7116/4804/files/BebasNeue-Regular_0ba96735-e582-4946-bbd6-edd171187d1a.ttf?v=1698664985") format("woff");
  }

                @font-face {
    font-family: "BebasNeue-Regular";
    src: url("https://cdn.shopify.com/s/files/1/0317/7116/4804/files/BebasNeue-Regular_0ba96735-e582-4946-bbd6-edd171187d1a.ttf?v=1698664985") format("woff2"),
         url("https://cdn.shopify.com/s/files/1/0317/7116/4804/files/BebasNeue-Regular_0ba96735-e582-4946-bbd6-edd171187d1a.ttf?v=1698664985") format("woff");
  }

                @font-face {
    font-family: "Open Sans";
    src: url("https://cdn.shopify.com/s/files/1/0317/7116/4804/files/OpenSans-Medium.ttf?v=1679664446") format("woff2"),
         url("https://cdn.shopify.com/s/files/1/0317/7116/4804/files/OpenSans-Medium.ttf?v=1679664446") format("woff");
  }

  #{
     font-family: "Open Sans"!important;
  }




    @media only screen and (max-width: 770px) {

  .to_the_shop_fixed {
    position: fixed;
      bottom: 0px;
      background: white;
      padding: 18px;
      left: 0px;
    z-index: 999;
  }

    }
</style>

{% if canonical_url contains '/weiterempfehlen' %}
  <style>
    .lb-page-section-holder h1 {
      display: none!important;
    }
  </style>
{% endif %} 


{% if canonical_url contains 'erfolgreiche-anmeldung' %}
  <style>
    h1 {
      display: none!important;
    }

    h2 {
      font-family : "Bebas Neue" !important;
      font-size: 30px;
    }
    
    .lb-page-section {
  background-size: cover !important;
  background-image: url(https://cdn.shopify.com/s/files/1/0317/7116/4804/files/Black-Deals-Background.webp?v=1699008062) !important;
      color: white;
}
  </style>
  {% endif %}


{% if canonical_url contains 'pomade-warteliste'%}
  <style>
    h1 {
      display: none!important;
    }

   .FloatingWidget {
      display: none!important;
    }
        
    .lb-page-section {
  background-size: cover !important;
  background-color: #3c3c3b!important;
}

    @media only screen and (max-width: 500px) {

  .lb-page-section {
    padding-top: 18px!important;
    padding-bottom: 18px!important;
  }

    }
    
  </style>
  {% endif %}
  

<style>
    .lb-header-search-bar {
      height: 0px!important;
    }

  .lb-header-search-bar-active {
        height: auto!important;
  }


  .lb-cart-drawer-item-price span {
   color:  #DA2C2C;
  }

  .lb-search-results-products-saleprice {
   color:  #DA2C2C;
  }









  /*
  .lb-fixed-info {

      background: #034e42!important;

      color: #034e42!important;
    }


    .lb-fixed-info-holder {
      display: none;
    }
  */


    .lb-mobile-nav, .lb-cart-drawer-box {
      z-index: +2147483647!important;
    }
</style>
 

 	<script src="https://widget.reviews.io/product/dist.js" defer></script>	
	<script src="https://widget.reviews.io/rating-snippet/dist.js" defer></script>
	<link rel="stylesheet" href="https://widget.reviews.io/rating-snippet/dist.css"/>

  {% if canonical_url contains ".com/en" %}
	<script>          
      window.addEventListener('DOMContentLoaded', function() {
          ratingSnippet("ruk_rating_snippet",{
          store: "strtebekker-shaving-accessories",
          color: "#D8AB63",
          linebreak: false,
          minRating: 4,
          snippetPopup: false,
          listenForChanges: true,
          });

      });
    </script>
    {% else %}
	<script>          
      window.addEventListener('DOMContentLoaded', function() {
          ratingSnippet("ruk_rating_snippet",{
          store: "strtebekker-shaving-accessories",
          color: "#D8AB63",
          linebreak: false,
          minRating: 4,
          snippetPopup: false,
          listenForChanges: true,
          });


      });
    </script>
    {% endif %}



<!-- 
          ratingSnippet("ruk_rating_snippet_2",{
          store: "strtebekker-shaving-accessories",
          color: "#D8AB63",
          linebreak: false,
          minRating: 4,
          snippetPopup: false,
          listenForChanges: true
          });


                    ratingSnippet("ruk_rating_snippet_2",{
          store: "strtebekker-shaving-accessories",
          color: "#D8AB63",
          linebreak: false,
          minRating: 4,
          snippetPopup: false,
          listenForChanges: true
          });

        -->






















<!--
{% if canonical_url contains ".com/en" %}
    <div class="reviews-io--widget" data-store-name="strtebekker-shaving-accessories" data-lang="en"></div>
  {% else %}
   <div class="reviews-io--widget" data-store-name="strtebekker-shaving-accessories" data-lang="de"></div>
  {%- endif -%}
  <script src='//widget.reviews.io/modern-widgets/reviewsio--widget.js' defer></script>
-->











<!--

<div class="newreviews">
<div class="reviews-io-floating-widget"
  widget-id="MT2EFYy1KkavIuGp"
 data-store-name="strtebekker-shaving-accessories"
 lang="de"
 ></div>
<script src='//widget.reviews.io/modern-widgets/floating.js'></script>
</div>
-->

  

 




<div
  id="reviews-io-floating-widget"
  widget-id="de5n3OGBHNjR4aXM"
  store-name="strtebekker-shaving-accessories"
  lang="de"
></div>
<script src="//widget.reviews.io/modern-widgets/floating.js" defer></script>







































<style>
  .lb-cart-drawer-box-upsell-price span {
        text-decoration: line-through;
    color: #ff8954;
  }
</style>











<script src="https://a.klaviyo.com/media/js/onsite/onsite.js" defer></script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
     var klaviyo = window.klaviyo || [];
     klaviyo.init({
       account: "WqaJBC",
       list: "VbkrkC",
       platform: "shopify"
     });
     klaviyo.enable("backinstock",{
     trigger: {
        product_page_text: "Informiere mich per E-Mail",
        product_page_class: "ab-btn",
        product_page_text_align: "center",
        product_page_margin: "0px",
          alternate_anchor: "EmailBack",
     },
     modal: {
       headline: "Als erstes informiert werden, wenn das Produkt wieder da ist",
       body_content: "{product_name}",
       newsletter_subscribe_label: "Zum Störtebekker Newsletter anmelden",
       email_field_label: "Email",
       button_label: "E-MAIL ERHALTEN SOBALD VERFÜGBAR",
       subscription_success_label: "Wir informieren dich, sobald das Produkt wieder verfügbar ist",
       footer_content: 'Du wirst nur zum Newsletter angemeldet, wenn der Haken gesetzt ist.',
       additional_styles: "@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); #klaviyo-bis-modal #container {font-weight: bold!important;}.modal-title { line-height: 1.2!important; font-family: Bebas Neue!important;} .btn {font-size: 20px!important; border-radius: 0px!important;     font-family: Bebas Neue;}.input-lg {border-radius: 30px!important;",
       drop_background_color: "#000",
       background_color: "#eeece0",
       text_color: "#000",
       button_text_color: "#fff",
       button_background_color: "#3C3C3B",
       close_button_color: "#ccc",
       error_background_color: "#fcd6d7",
       error_text_color: "#C72E2F",
       success_background_color: "#d3efcd",
       success_text_color: "#3D8545"
     }
   }); 
  });
</script>

<style>
  .modal-title h3 {
    font-family: "BebasNeue-Regular"!important;
  }
</style>  














{% if canonical_url
    == 'https://stoertebekker.com/products/anti-hautirritationen-set-premium-rasierhobel-schwarz-gratis-after-shave-balm'
  or canonical_url
    == 'https://stoertebekker.com/products/anti-hautirritationen-set-rasierhobel-schwarz-gratis-after-shave-balm'
  or canonical_url == 'https://stoertebekker.com/pages/track-trace-page'
%}
  <style>
      .R-LauncherButton {
    display: none!Important;
    }
  </style>
{% endif %}


<style>
  .LoyaltyWidget .R-LauncherButton {
    display: none!important;
  }

  .cssVar-header__heading {
    font-size: 38px!important;
  }

  .R-TextHeading--xs {
    font-size: 24px!important;
  }
  
  .R-TextHeading--xxxs {
    font-size: 18px!important;
  }

   /*reviews zindex*/
    .R-LauncherButton {
  z-index: 100!important;
  }

    .message__messaging {
  	font-family: "Open Sans" !important;
    }

    .lb-cart-drawer-item-title {
    -webkit-line-clamp: 2;
      overflow: hidden;
      max-height: 38px;
  }

    .lb-cart-drawer-item-box {
      overflow: auto!important;
    }

    .lb-cart-freeshipping-bar {
      background: #eeece0;
    }

    .lb-cart-freeshipping-bar-inner {
      background: #3c3c3a;
  ;
</style>

<style>


  /*
@media only screen and (max-width: 600px) {

  .ruk-rating-snippet-count {
    display: block!important;
    margin-top: 5px!Important;
  }
}
  */




  .lb-search-form-btn {
    background: #f2f2f2!important;
  }

 .lb-search-form-btn svg path {
    stroke: black!important; 
  }
  
  
    .collectionbanner::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      opacity: 0.3;
    background: url("{{ collection.image | img_url: 'large' }}");
      background-size: cover;

  }

    .ab-btn {
    font-size: 20px!important;
       margin-bottom: 9px!important;
    }

    .lb-accounting-btn {
      background: #3c3c3b!important;
    }

    .lb-footer__menu-link {
      display: flex;
      align-items: center;
    }
</style>

<style>
     .lb-article h1, .lb-article h2, .lb-article h3, .lb-article h4, .lb-article h5, .lb-article h6 {
     font-family: "Bebas Neue";
       color: #3c3c3b;
   }

   .top-banner, .new-top-banner-reviews {
   font-family: "Open Sans"!important;
     color: #4a4a4a;
   }

   .top-banner__item {
   font-family: "Open Sans"!important;
     color: #4a4a4a;
   }

   .lb-header {
     z-index: 9996!important;
   }

   .lb-header-search-bar {
     z-index: 9995!important;
   }

   #richSnippetReviewsWidget-defaultContainer_frame {
   z-index: 9997!important;
   }

       .lb-accounting-headline {
     font-family: "Bebas Neue";
       color: #3c3c3b;
         font-size: 20px!important;
   }

   .lb-accounting-texte, .lb-accounting-input, .lb-login-reset-password, .lb-accounting-link {
   font-family: "Open Sans"!important;
   }

  
.lb-accounting-btn {
  font-family: "Bebas Neue" !important;
font-size: 24px;
}
  

  .lb-header-search-bar-recommendations a {
    margin: 5px 9px 5px 0px;
  }

    .lb-cart-drawer-item {
    padding: 18px 36px 18px 18px;
    }

    .lb-header-nav-sub-item img{
    	border-radius: 0px;
      width: 52px;
    }

    .lb-mobile-nav-sub-item-link img {
    border-radius: 0px;
    }

    .lb-header-nav-main-item-link, .lb-mobile-nav-sub-item-link {
    text-transform: uppercase;
    }

    .lb-header-cart-after {
    content: 'WARENKORB';
      position: absolute;
      bottom: -7px;
      color: black;
      left: -50%;
      font-size: 8px;
      width: 200%;
      text-align: center;
        display: none!important;
    }

    .lb-header-search-icon {
      position: relative;
      margin-right: 9px;
    }

    .lb-header-search-icon-after {
    content: 'SUCHE';
      position: absolute;
      bottom: -7px;
      color: black;
      left: 0px;
      font-size: 8px;
      width: 100%;
      text-align: center;
        display: none!important;
    }

    .lb-header-account {
    	margin-right: 9px;
    }

  {% if canonical_url == https://stoertebekker.com/ %}
@media only screen and (max-width: 600px) {
.lb-header-search-icon
  {
    display: none!important;
  }
}
    {% endif %}

  
@media only screen and (min-width: 600px) {
    .lb-header-account {
            position: relative;
    top: 5px;
    }
 .lb-header-cart{
            position: relative;
    top: 5px;
    }

}

    .lb-header-account-before {
    	content: 'ACCOUNT';
      position: absolute;
      bottom: -11px;
      color: black;
      left: 0px;
      font-size: 8px;
      width: 100%;
      text-align: center;
        display: none!important;
    }

    .lb-header-burger-menu-after {
    	content: 'MENÜ';
      position: absolute;
      bottom: -11px;
      color: black;
      left: 0px;
      font-size: 8px;
      width: 100%;
      text-align: center;
        display: none!important;
    }


    .lb-fixed-info-holder{
     top: 0%!important;
   }
</style>

{%- assign current_variant = product.selected_or_first_available_variant -%}

{% if current_variant.available == false %}
  <style>
    .lb-gempages-timing1 {
    display: block!important;
    }
  </style>
{% elsif current_variant.inventory_quantity < 0 %}
  <style>
    .lb-gempages-timing3 {
    display: block!important;
    }
  </style>

{% else %}
  <style>
    .lb-gempages-timing2 {
    display: block!important;
    }
  </style>
{% endif %}

<!--
  CET Tracking -----------------------------------
  <script>
  function readCookie(name) {
      var nameEQ = name + "=";
      var ca = document.cookie.split(';');
      for(var i=0;i < ca.length;i++) {
          var c = ca[i];
          while (c.charAt(0)==' ') c = c.substring(1,c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
      }
      return null;
  }
  </script>
  <script> let  productIDsOnPageArray = []; </script>
  {% for product in collection.products %}
  <script> productIDsOnPageArray.push('{{product.id}}'); </script>
  {% endfor %}
  <script>
    if(productIDsOnPageArray.length === 0){
      productIDsOnPageArray = "{{product.id}}";
    }
  var GA_id = readCookie('_ga');
  var GID_id = readCookie('_gid');
  var FB_id = readCookie('_fbp');
  UST.addEvent({
      category: 'PageView',
      action: 'PageType',
      label: '{{ request.page_type }}',
      value:3,
      data: {
                  'Products': productIDsOnPageArray
                  ,'G_Cookie': GA_id
                  ,'G_ClickID': GID_id
                  ,'FB_Cookie': FB_id
      }
  });
  </script>
  <script>
  function hasJsonStructure(str) {
      if (typeof str !== 'string') return false;
      try {
          const result = JSON.parse(str);
          const type = Object.prototype.toString.call(result);
          return type === '[object Object]'
              || type === '[object Array]';
      } catch (err) {
          return false;
      }
  }
  </script>
  <script>
   const constantMock = window.fetch;
   window.fetch = function() {
     if(arguments[0] === '/cart/add.js' || arguments[0] === '/cart/add'){
      let body = arguments[1].body;
      let quantity ;
      let variant_id ;
       if(hasJsonStructure(body)){
       body = JSON.parse(body);
      variant_id = body.id;
      quantity = body.quantity;
       } else {
      const params = new URL(`https://shopifystore.com/?${body}`).searchParams;
  	variant_id = params.get('id');
      quantity = params.get('quantity');
      if(quantity == null){
        let quantity = 1;
       	}
       }

      UST.addTag("AddtoCart");
      UST.addEvent({
          category: 'ExplicitIntent',
          action: 'AddtoCart',
          value:3,
          data: {
              'product_title':"{{ product.title }}",
              'product_id': "{{product.id}}",
              'quantity': quantity,
              'variant_id': variant_id,
      }});
     }
      return constantMock.apply(this, arguments)
   }
  </script>
  <!-- CET Tracking ---------------------------------
-->


<script type="text/javascript">
  var _learnq = _learnq || [];
  function addedToCart() {
    window.fetch(`${window.location.origin}/cart.js`)
    .then(res => res.clone().json().then(data => {
      var cart = {
        total_price: data.total_price/100,
        "$value": data.total_price/100,
        total_discount: data.total_discount,
        original_total_price: data.original_total_price/100,
        items: data.items
      };
      if (item !== 'undefined') {
        cart = Object.assign(cart, item)
      };
      _learnq.push(['track', 'Added to Cart', cart])
    }))
  }
  (function (ns, fetch) {
    ns.fetch = function() {
      const response = fetch.apply(this, arguments);
      response.then(res => {
        if (`${window.location.origin}/cart/add.js`
        	.includes(res.url)) {
          	addedToCart()
        }
      });
      return response
    }
  }(window, window.fetch));
  window.addEventListener('DOMContentLoaded', function() {
    $(document).on("ajaxComplete", function(event, request, settings){
      if(settings && settings.url == "/cart/add.js"){
          addedToCart()
      }
    })
  });
</script>



<!-- Countdown Bar fixes -->
<style>
  #epb_background {
    height: 54px!important;
    z-index: 9991!important;
    overflow: hidden!important;
  }
  #epb_message_one {
    font-size: 14px!important;
  }
  #epb_container .flip  {
    box-shadow: none!Important;
  }
  /* Z-Index Settings zwischen 90 und 98 ist Platz*/
  .lb-mobile-nav, .lb-cart-drawer-box {
    z-index: +2147483647!important;
  }
  .lb-header {
    z-index: 9990!important;
  }
  .lb-fixed-info {
    z-index: 9990!important;
  }
  .lb-header-search-bar {
    z-index: 9989!important;
  }
  .lb-cart-drawer-overlay-under {
    z-index: 9988!important;
  }
  #richSnippetReviewsWidget-defaultContainer_frame {
    z-index: 9990!important;
  }
  /* Ende Z-Index Settings */
@media only screen and (max-width: 500px) {
  #epb_message_one {
    line-height: 0px!important;
    font-size: 14px!important;
    margin: -5px 0px 0px 0px!Important;
    position: relative;
    top:0px;
  }
    #epb_bar {
    line-height: 27px!important;
      padding-top:10px;
  }
  .flip-clock-wrapperht {
    margin: 0px 0px!important;
    position: relative;
    top:0px; 
  }
  #epb_container {
    height: 0px!important;
  }
}

@media only screen and (max-width: 386px) {
  .flip-clock-wrapperht {
    top:14px;
  }
}
</style>
<!-- End Countdown Bar fixes -->

<!--
<style>
    #epb_content {
      margin-top: -0px;
    }

  .epb_bar {
    height: 50px!important;

  }

  @media only screen and (max-width: 600px) {

  #epb_message_two {
    top: -11px!important;
      font-size: 12px!important;
    position: relative!important;
  }

  #epb_message_one {
    font-size: 12px!important;
  }

  .flip-clock-wrapperht ul li a div div.inn {
    font-size: 17px!important;
  }

  }


    #epb_background{
    height: 50px!important;
      overflow: hidden!important;
  }
</style>
-->






















<!-- AB TEST -->



<style>


  .lb-footer-column h3 {
  font-family : "BebasNeue-Regular" !important;
}

lb-cart-drawer-footer-checkout-btn {
  font-family : "BebasNeue-Regular" !important;
  font-size : 20px !important;
}

.lb-cart-drawer-box-header-title, .lb-cart-drawer-footer-checkout-btn {
  font-family : "BebasNeue-Regular" !important;
  font-size : 22px !important;
}


div.lb-footer-upper>div:nth-of-type(4)>h3 {
  color : rgb(60, 60, 59);
}

div.lb-footer-upper>div:nth-of-type(3)>h3 {
  color : rgb(60, 60, 59);
}

div.lb-footer-upper>div:nth-of-type(2)>h3 {
  color : rgb(60, 60, 59);
}

div.lb-footer-upper>div:nth-of-type(1)>h3 {
  color : rgb(60, 60, 59);
}

div.lb-footer-upper>div:nth-of-type(4)>div>h3:nth-of-type(2) {
  color : rgb(60, 60, 59);
}

div.lb-footer-upper>div:nth-of-type(4)>div>h3:nth-of-type(1) {
  color : rgb(60, 60, 59);
}

p.evm_wiser_heading {
  color : rgb(60, 60, 59) !important;
}

p.evm_wiser_heading {
  color : rgb(60, 60, 59) !important;
}

  .evm_wiser_heading {
  font-family : "BebasNeue-Regular" !important;
}

.ws-card__title {
  font-family : "BebasNeue-Regular" !important;
}

  .modal-title {
  font-family : "BebasNeue-Regular" !important;
}
  




  







  
  


/*  

  .new-branding-headline-font {
  font-family : "BebasNeue-Regular" !important;
}

.grey-font {
  color : rgb(60, 60, 59) !important;
}

.second-cart-info h2 {
  font-family : "BebasNeue-Regular" !important;
  font-size : 18px !important;
}

#boxoheadline {
  font-family : "BebasNeue-Regular" !important;
}

.new-branding-bg {
  background-color : rgb(60, 60, 59) !important;
}

.new-brand-white-font {
  color : white !important;
}

.boxoboxo {
  background-color : rgb(60, 60, 59) !important;
  color : white !important;
}

#boxoheadline {
  color : white !important;
}

.boxoboxo img {
  filter : invert(1);
}

.lb-new-send, .lb-buy-btn {
  font-family : "BebasNeue-Regular" !important;
  font-size : 18px !important;
}



.lb-bundle-builder-atc {
  font-family : "BebasNeue-Regular" !important;
  font-size : 18px !important;
}



.moresize {
  font-size : 24px !important;
}

.moresize2 {
  font-size : 20px !important;
}

.setmorefont {
  font-size : 16px !important;
}

.collectionbanner {
  background-color : rgb(60, 60, 59) !important;
}

span.pf-343_ {
  font-family : "BebasNeue-Regular" !important;
}

span.pf-468_ {
  font-family : "BebasNeue-Regular" !important;
}


.newteamboxpdp {
  background-color : rgb(60, 60, 59) !important;
}

.newteamboxpdp p {
  color : white !important;
}

.faq-pdp b {
  font-family : "BebasNeue-Regular" !important;
}

#oldbenefits {
  background-color : rgb(60, 60, 59) !important;
}

#oldbenefits p {
  color : white !important;
}

#oldbenefits img {
  filter : invert(1);
}


.hellcolor {
  color : white !important;
}

.homeboxen {
  background-color : rgb(60, 60, 59) !important;
}

span.pf-279_ {
  font-family : "BebasNeue-Regular";
}

span.pf-385_ {
  font-family : "BebasNeue-Regular";
}

div.boxoboxo>div {
  color : rgb(255, 255, 255) !important;
  font-family : "Bebas Neue" !important;
}

span.pf-132_ {
  font-size : 18px;
}

span.pf-189_ {
  font-size : 18px;
}


.accordion-pdp .new-branding-headline-font {
  font-size : 20px !important;
  color : black !important;
}

.accordion-text b {
  font-family : "BebasNeue-Regular" !important;
  font-size : 20px !important;
}

.banner h2 {
  font-family : "BebasNeue-Regular" !important;
  font-size : 20px !important;
}

  */
  
</style>






















 



   
 

<script>
  console.log('Variation script running');

  const variant = 'b';

  //LOOP uses delays for everything
  const delay = 301;

  const findAbo = () => {
    const targets = Array.from(document.querySelectorAll('div[id*="loop-product-variant-"]'))
    const target = targets?.find(element => element.style.display === 'block')
    const label = target?.querySelector('.loop-selling-plan-allocation > .loop-subscription-group');

    console.log("HERE: ", targets)
    
    //ABO LOOP creates a 300 delay each click, so we calculate them higher
    setTimeout(() => {
      label?.click()
    }, (delay * targets.length));
  }
  

  document.documentElement.addEventListener('variant:change', (e) => {
    if(variant === 'b') {
      setTimeout(() => findAbo(), delay);
    }
  });
  

  document.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => findAbo(), delay);
  })


  if(ablyftTools) {
    ablyftTools?.domLoaded(() => {
      document.body.classList.add('as-st-0047', `as-st-0047-${variant}`);
    });

    ablyftTools?.waitForElement('#loop-selling-plan-fieldset', (e) => {
      if(variant === 'b') {
        setTimeout(() => findAbo(), delay);
      }
    }) 
  }
</script>

<style>
  .as-st-0047-a .loop-subscription-container {
  display: none;
}
.as-st-0047-b .loop-subscription-group {
  align-items: flex-start;
}
.as-st-0047-b .loop-selected-selling-plan-group {
  padding: 18px !important;
}
.as-st-0047-b .loop-subscription-group-price-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
}
.as-st-0047-b .loop-one-time-purchase-option {
  border-radius: 10px 10px 0 0;
}
.as-st-0047-b .loop-one-time-purchase-option-price-container {
  display: flex;
  justify-content: flex-end;
}
.as-st-0047-b .loop-one-time-purchase-option-price-amount,
.as-st-0047-b .loop-subscription-group-price-amount {
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 1 !important;
  text-align: center;
  color: #000 !important;
}
.as-st-0047-b .loop-one-time-purchase-option-label,
.as-st-0047-b .loop-subscription-group-label {
  font-family: "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1 !important;
  margin: 0 !important;
}
.as-st-0047-b .loop-subscription-group-price-amount-original {
  font-family: "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 1 !important;
  margin: 0 !important;
  text-align: center;
  text-decoration: line-through;
  color: #DA2C2C !important;
}
.as-st-0047-b .loop-one-time-purchase-option-radio {
  margin: 0 12px 0 0 !important;
}
.as-st-0047-b .loop-selected-selling-plan-group .loop-one-time-purchase-option-label,
.as-st-0047-b .loop-selected-selling-plan-group .loop-subscription-group-label {
  font-weight: 700 !important;
}
.as-st-0047-b .loop-selling-plan-selector-description {
  margin: 20px 0 0 0 !important;
}
.as-st-0047-b .loop-subscription-group-selling-plans-container {
  margin: 0 !important;
}
.as-st-0047-b .loop-selling-plan-selector {
  background-image: url("https://assets.ablyft.com/74461385/l5Mr1vudutsiI1dxQ1owjsAtEZN1PKSpRX5rRcd3.svg") !important;
  background-position: calc(100% - 12px) center !important;
  background-size: 12px 16px !important;
  width: 100% !important;
  margin: 12px 0 0 0 !important;
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 1 !important;
  letter-spacing: 0px;
  border: 2px solid #000 !important;
  padding: 16px 12px !important;
  border-radius: 10px !important;
  color: #000 !important;
}
.as-st-0047-b .loop-selling-plan-selector:focus {
  background: none !important;
  padding: 16px 12px !important;
}
.as-st-0047-b .loop-subscription-group {
  border-radius: 0 0 10px 10px;
}
.as-st-0047-b .loop-subscription-group-discount-badge {
  font-family: "Open Sans", sans-serif;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 1 !important;
}
.as-st-0047-b .loop-subscription-group-text {
  gap: 8px;
}
.as-st-0047-b .benefits-list li {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8px;
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 0 0 12px 0;
}
.as-st-0047-b .benefits-list li::before {
  content: "";
  background-image: url("https://assets.ablyft.com/74461385/MZcV7QWvezesW9MHLcRu8IjqutofifdeTvmGAyRD.svg");
  background-repeat: no-repeat;
  background-size: 17px 22px;
  width: 17px;
  height: 22px;
}


.loop-one-time-purchase-option-label {
  width: 140px !important;
  display: inline-block!important;
  position: relative!important;
}

.loop-one-time-purchase-option-label:after {
  background: red;
  padding: 6px;
  margin-left: 9px;
  content: "-5%";
    color: #000000 !important;
    background-color: #D8AC63 !important;
    border-radius: 6px !important;
    line-height: 1.2em !important;
    font-size: 14px !important;
    font-weight: 400 !important;
}

.loop-subscription-group-label {
  width: 140px !important;
  display: inline-block!important;
  position: relative!important;
} 

.loop-subscription-group-label:after {
  background: red;
  padding: 6px;
  margin-top: 5px;
  margin-left: 0px;
  content: "-15% auf jede Lieferung";
    color: #000000 !important;
    background-color: #D8AC63 !important;
    border-radius: 6px !important;
    line-height: 1.2em !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    display: block!important;
}

.loop-subscription-group-discount-badge {
display: none!important;
}

</style>