<div class="lb-pdp-dynamic-compare">


  <h3>Unsere Rasierhobel</h3>

  

<div class="lb-pdp-dynamic-compare-item-holder">

    <!--
  <a class="lb-pdp-dynamic-compare-a">
    <span class="lb-pdp-dynamic-compare-this">Dieser Artikel</span>
    <img  class="lb-pdp-dynamic-compare-item-img " src="{{ product.featured_image | img_url: '400x' }}">
    <h5>Rostock</h5>
    <p>Perfekt für Einsteiger geeignet -einfachster Klingenwechsel</p>

    <div class="lb-pdp-dynamic-compare-item-details">
      Material: Zinc Alloy<br>
      Farbe: <div></div><div></div><div></div><br>
      Gewicht:
    </div>

    <div class="lb-pdp-dynamic-compare-item-contents-empty">

    </div>
    
    <div class="lb-pdp-dynamic-compare-item-price">{{ product.price | money }}
    {% if product.price > 4900 %}
    <span>inkl. kostenloser versand</span>
    {% endif %}
    </div>
  </a>

-->




  
 
<a href="/products/premium-rasierhobel-rostock" {% if product.title contains 'Rostock' %}class="lb-pdp-dynamic-compare-a"{% endif %}>
   <span class="lb-pdp-dynamic-compare-this">Dieser Artikel</span>
    <img class="lb-pdp-dynamic-compare-item-img "  src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/rostockfree.png?v=1749644897">
    <h5>Rostock</h5>
    <p>Schwerer Griff <br>für optimale Handhabung</p>

    <div class="lb-pdp-dynamic-compare-item-details">
      <div class="matterial"><b>Material:</b> Edelstahl</div>
      <b>Farbe:</b> <div class="collloorrs" style="background: silver;"></div><br>
      <b>Gewicht: </b>163g
    </div>

    <div class="lb-pdp-dynamic-compare-item-contents-empty">
      <!--
      <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/compare-stender.png?v=1749662556">
inkl. Rasierständer
      -->
    </div>
    
    <div class="lb-pdp-dynamic-compare-item-price">€49,99
    <span>inkl. kostenloser Versand</span></div>

  {% unless product.title contains 'Rostock' %}
<div class="lb-pdp-dynamic-compare-item-btn">Zum Produkt</div>
  {% endunless %}
  
  </a>

  



 
<a href="/products/rasierstaender-set-oslo" {% if product.title contains 'Oslo' %}class="lb-pdp-dynamic-compare-a"{% endif %}>
   <span class="lb-pdp-dynamic-compare-this">Dieser Artikel</span>
    <img class="lb-pdp-dynamic-compare-item-img "  src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/oslo.png?v=1749666677">
    <h5>OSLO</h5>
    <p>Edle Optik, <br>rutschfester Griff</p>

    <div class="lb-pdp-dynamic-compare-item-details">
      <div class="matterial"><b>Material:</b> Edelstahl matt</div>
      <b>Farbe:</b> <div class="collloorrs" style="background: black;"></div><div class="collloorrs"  style="background: silver;"></div><div class="collloorrs" style="background: #e2c9ab;"></div><br>
      <b>Gewicht:</b> 100g
    </div>

    <div class="lb-pdp-dynamic-compare-item-contents">
      <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/compare-stender.png?v=1749662556">
inkl. Rasierständer
    </div>
    
    <div class="lb-pdp-dynamic-compare-item-price">€59,99
    <span>inkl. kostenloser Versand</span></div>

{% unless product.title contains 'Oslo' %}
<div class="lb-pdp-dynamic-compare-item-btn">Zum Produkt</div>
  {% endunless %}
  
  </a>




  
    <a href="/products/rasierhobel-silber" {% if product.title contains 'Hamburg' %}class="lb-pdp-dynamic-compare-a"{% endif %}>
       <span class="lb-pdp-dynamic-compare-this">Dieser Artikel</span>
    <img class="lb-pdp-dynamic-compare-item-img "  src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/hamburg.png?v=1749666702">
    <h5>Hamburg</h5>
    <p>Sicherer Klingenwechsel, <br>perfekt für Einsteiger</p>

    <div class="lb-pdp-dynamic-compare-item-details">
      <div class="matterial"><b>Material:</b> Zinc Alloy</div>
      <b>Farbe:</b> <div class="collloorrs" style="background: black;"></div><div class="collloorrs" style="background: silver;"></div><div class="collloorrs" style="background: #e2c9ab;"></div><br>
      <b>Gewicht:</b> 71g
    </div>

    <div class="lb-pdp-dynamic-compare-item-contents">
      <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/compare_etui.png?v=1749662555">
inkl. Lederetui
    </div>
    
    <div class="lb-pdp-dynamic-compare-item-price">€39,99

      <span style="color: white;">inkl. kostenloser Versand</span>
      
    </div>

     {% unless product.title contains 'Hamburg' %}
<div class="lb-pdp-dynamic-compare-item-btn">Zum Produkt</div>
  {% endunless %}

  </a>





  

    <a href="/products/premium-rasierhobel-solingen-silber-matt" {% if product.title contains 'Solingen' %}class="lb-pdp-dynamic-compare-a"{% endif %}>
       <span class="lb-pdp-dynamic-compare-this">Dieser Artikel</span>
    <img class="lb-pdp-dynamic-compare-item-img" src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/solingen.png?v=1749666762">
    <h5>Solingen</h5>
    <p>Höchste Qualität <br>aus Deutschland</p>

    <div class="lb-pdp-dynamic-compare-item-details">
      <div class="matterial"><b>Material:</b> Edelstahl / Echtholz</div>
      <b>Farbe:</b> <div class="collloorrs"  style="background: #0e0e0e;"></div><div class="collloorrs"  style="background: silver;"></div><div class="collloorrs"  style="background: #6f2618;"></div><div class="collloorrs"  style="background: #6a6a6a;"></div><br>
      <b>Gewicht:</b> 80g
    </div>


    <div class="lb-pdp-dynamic-compare-item-contents-empty">
      <!--
      <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/compare_etui.png?v=1749662555">
inkl. Lederetui
      -->
    </div>

    
    <div class="lb-pdp-dynamic-compare-item-price">€67,99
    <span>inkl. kostenloser Versand</span></div>

    {% unless product.title contains 'Solingen' %}
<div class="lb-pdp-dynamic-compare-item-btn">Zum Produkt</div>
  {% endunless %}
      
  </a>




  

    <a href="/products/premium-rasierhobel-riga" {% if product.title contains 'Riga' %}class="lb-pdp-dynamic-compare-a"{% endif %}> 
       <span class="lb-pdp-dynamic-compare-this">Dieser Artikel</span>
    <img class="lb-pdp-dynamic-compare-item-img"  src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/rigafree.png?v=1749644896">
    <h5>Riga</h5>
    <p>Magnet im Griff <br>für Klingenaufnahme</p>

    <div class="lb-pdp-dynamic-compare-item-details">
      <div class="matterial"><b>Material:</b> Echtholz</div>
      <b>Farbe:</b> <div class="collloorrs" style="background: #6f2618;"></div><br>
      <b>Gewicht:</b> 70g
    </div>

    <div class="lb-pdp-dynamic-compare-item-contents-empty">
      <!--
      <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/compare_etui.png?v=1749662555">
inkl. Lederetui
      -->
    </div>
    
    <div class="lb-pdp-dynamic-compare-item-price">€49,99
    <span>inkl. kostenloser Versand</span></div>

     {% unless product.title contains 'Riga' %}
<div class="lb-pdp-dynamic-compare-item-btn">Zum Produkt</div>
  {% endunless %}
      
  </a>
  
  
  

<!--
{% for product in collections['rasierhobel'].products %}
    <a href="">
    <img src="{{ product.featured_image | img_url: '400x' }}">
    <h5>{{ product.title }}</h5>
    <p>Perfekt für Einsteiger geeignet -einfachster Klingenwechsel</p>

    <div class="lb-pdp-dynamic-compare-item-details">
      Material: Zinc Alloy<br>
      Farbe: <div></div><div></div><div></div><br>
      Gewicht:
    </div>

    <div class="lb-pdp-dynamic-compare-item-contents">
      <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/compare_etui.png?v=1749662555">
inkl. Lederetui
    </div>
    
    <div class="lb-pdp-dynamic-compare-item-price">{{ product.price | money }}
    <span>inkl. kostenloser versand</span></div>
  </a>
{% endfor %}
--> 

  
</div>

  
</div>


<style>
.lb-pdp-dynamic-compare {
background: #EEEBDF;
  padding: 52px 0px;
}

  .lb-pdp-dynamic-compare h3 {
  font-family: "BetterTimesAlt";
    font-size: 52px;
    font-weight: normal!important;
    text-align: center;
    }


.lb-pdp-dynamic-compare-item-holder {
  display: flex;
  overflow-x: auto;
  max-width: 1300px;
  margin: auto;
  gap: 6px;
  padding: 9px;
  position: relative;
  scroll-snap-type: x mandatory; /* Optional: weiches Einrasten */
  -ms-overflow-style: none;
    scrollbar-width: none;
}

  .lb-pdp-dynamic-compare-a {
    position: sticky!important;
    left: 0px!important;
    z-index: 9;
    top: 0px!important;
    order: -1!important;
    border: 1px solid black;
  }

  .lb-pdp-dynamic-compare-a .lb-pdp-dynamic-compare-this  {
    display: block;
  }

.lb-pdp-dynamic-compare a {
  background: white;
  padding: 18px;
  border-radius: 9px;
  display: block;
  flex: 0 0 250px; /* oder 300px – Breite der Cards */
  position: relative;
  text-align: center;
  color: black;
  scroll-snap-align: start;
}

.lb-pdp-dynamic-compare-item-img {
  width: 100%;
  display: block;
}

  .lb-pdp-dynamic-compare-this {
position: absolute;
    top: -9px;
    left: 50%;
    background: black;
    padding: 5px 9px;
    border-radius: 6px;
    color: white;
    transform: translate(-50%,0px);
    width: max-content;
    font-size: 14px;
    display: none;
}

  
  .lb-pdp-dynamic-compare-a {
  box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
}

    .lb-pdp-dynamic-compare a h5 {
  font-family: BebasNeue-Regular;
      font-size: 20px;
       margin: 9px 0px 0px 0px;
    }

      .lb-pdp-dynamic-compare a p {
 margin: 0px 0px 9px 0px;
        font-size: 14px;
        line-height: 16px;
        height: 40px;
    }

  .lb-pdp-dynamic-compare-item-details {
    font-size: 14px;
    margin: 0px 0px 9px 0px;
    line-height: 22px;
  }

  .collloorrs {
    width: 13px;
    height: 13px;
    border-radius: 50px;
    background: grey;
    margin-right: 5px;
    display: inline-block;
  }

    .matterial {
    height: 28px;
    line-height: 14px;
      display: none;
      margin: 5px 0px 0px 0px;
  }

  
        .lb-pdp-dynamic-compare-item-price {
 margin: 9px 0px 9px 0px;
          font-weoght: bold;
    }

      .lb-pdp-dynamic-compare-item-price span {
 color: green;
        display: block;
        font-size: 12px;
        margin: 3px 0px 0px 0px;
        font-weight: normal;
    }

  .lb-pdp-dynamic-compare-item-contents {
    background: #EEEBDF;
    border-radius: 50px;
    padding: 5px 6px;
    font-size: 12px;
    font-weight: bold;
    display: none;
  }



  .lb-pdp-dynamic-compare-item-contents-empty {
    height: 40px;
    background: white;
    display: none;
  }

  .lb-pdp-dynamic-compare-item-contents img {
    height: 30px;
    margin-right: 5px;
  }



  .lb-pdp-dynamic-compare-item-btn {
    background: #232323;
    padding: 12px 9px;
    font-family: "Bebas Neue";
    border-radius: 6px;
    font-size: 16px;
    color: white;
  }

  @media only screen and (max-width: 600px) {
      .lb-pdp-dynamic-compare a {
        padding: 9px!important;
  flex: 0 0 180px; /* oder 300px – Breite der Cards */
      }
  }

  
  </style>