<div class="banneranimation-section">
  <div class="banneranimation">
    <span>{{ section.settings.bannertext }}</span> 
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
  </div>
</div>




<style>

  {% assign primaryfont = section.settings.primaryfont %}
  {% assign secondaryfont = section.settings.secondaryfont %}
  {% assign bannerfont = section.settings.bannerfont %}
  {{ section.settings.primaryfont | font_face }}
  {{ section.settings.secondaryfont | font_face }}
  {{ section.settings.bannerfont | font_face }}

  

  {% if section.settings.customfont != blank %}
  @font-face {
    font-family: "Customfont";
    src: url("{{ section.settings.customfont }}") format("woff2"),
         url("{{ section.settings.customfont }}") format("woff");
  }
  {% endif %}


  
.banneranimation-section {
  background-color: {{ section.settings.bannerbg }};
  color: {{ section.settings.bannercolor }};
  {% if section.settings.bannerbgimage != blank %}
  background-image: url({{ section.settings.bannerbgimage | img_url: '1200x' }});
  {% endif %}
  background-repeat: repeat-x !important;
  background-size: 100% 100% !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  overflow-x: clip !important;
} 

.banneranimation { 	
    font-size:25px;
    margin:0;
    white-space:nowrap;
    width:auto;
    perspective:900px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    animation: ss-scroller-left 18s linear infinite;
    color: {{ section.settings.bannerfontcolor }};
}
    


@media only screen and (max-width: 600px) {

.banneranimation { 	
    animation: ss-scroller-left 10s linear infinite;
}

}

@keyframes banneranimation {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

  
  @keyframes ss-scroller-left {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
  }


.banneranimation span { 	
  margin-right: 18px;
  line-height: 17px;
  font-size: 20px;
  {% if section.settings.customfont == blank %}
  font-family: {{ section.settings.bannerfont.family }}, {{ bannerfont.fallback_families }} !important;
  {% else %}
  font-family: 'Customfont'!important;
  {% endif %}
}

</style>













<div class="lb-campaign-intro-section">

  <div class="lb-campaign-intro-section-holder">
    <p class="lb-campaign-intro-section-firsttext">{{ section.settings.date }}</p>

    {% if section.settings.headlinelogo == blank %}
    <h2 class="lb-campaign-intro-section-headline">{{ section.settings.headline }}</h2>
    {% else %}
    <img class="lb-campaign-intro-section-headline-logo" src="{{ section.settings.headlinelogo | img_url: '700x' }}">
    {% endif %}
    <p class="lb-campaign-intro-section-subtext">{{ section.settings.subheadline }}</p>

    <div id="countdown" class="lb-countdown-holder">
          <div class="lb-countdown-holder-item">
              <span id="days" class="lb-countdown-holder-item-number">00</span>
              <span class="lb-countdown-holder-item-text">Tage</span>
          </div>
          <div class="lb-countdown-holder-item">
              <span id="hours" class="lb-countdown-holder-item-number">00</span>
              <span class="lb-countdown-holder-item-text">Stunden</span>
          </div>
          <div class="lb-countdown-holder-item">
              <span id="minutes" class="lb-countdown-holder-item-number">00</span>
              <span class="lb-countdown-holder-item-text">Minuten</span>
          </div>
          <div class="lb-countdown-holder-item">
              <span id="seconds" class="lb-countdown-holder-item-number">00</span>
              <span class="lb-countdown-holder-item-text">Sekunden</span>
          </div>
      </div>




<div class="lb-password-form-holder">
    {% form 'storefront_password' %}
  {{ form_errors | default_errors }}

    <input type="password" name="password" class="pw-input" placeholder="Passwort eingeben…">
 <input type="submit" class="pw-btn" value="JETZT SHOP FREISCHALTEN">

{% endform %}
</div>

<style>

  .lb-password-form-holder {
    max-width: 500px;
    margin: 18px auto 0px auto;
  }
  
  .pw-input {
	background: white;
	color: black;
	padding: 16px 18px;
	display: block;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	width: 100%;
  }
  
  .pw-btn {
	background: #D8AC63;
	color: black;
	padding: 16px 18px;
	display: block;
	border: none;
	border-radius: 6px;
	font-family: "Bebas Neue";
	font-weight: bold;
	width: 100%;
	font-size: 20px;
	margin: 9px auto 0px auto;
  }

</style>

    
    






<div class="lb-campaign-benefits-section-holder">
  {% for block in section.blocks %}
    <div class="lb-campaign-benefits-section-item">

      

      {% if block.settings.icon != blank %}
      <img src="{{ block.settings.icon | img_url: '100x' }}">
{% else %}
<?xml version="1.0" encoding="UTF-8"?>
<svg width="347px" height="344px" viewBox="0 0 347 344" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Group</title>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="rabatt" transform="translate(-27, -26)" fill="#FFFFFF" fill-rule="nonzero">
            <g id="Group" transform="translate(25, 25)">
                <path d="M150.856152,7.33790333 C166.279638,-0.791952791 184.720362,-0.791952791 200.143848,7.33790333 L204.927723,9.85952602 C215.906103,15.6463273 227.931644,19.1773448 240.295826,20.244538 L245.683569,20.7095718 C263.053963,22.2088676 278.567288,32.1786762 287.147018,47.3565123 L289.808177,52.0641942 C295.915197,62.8677214 304.122714,72.3397008 313.947157,79.9220622 L318.228199,83.2261076 C332.030524,93.8785395 339.691078,110.652813 338.703048,128.059773 L338.396593,133.458859 C337.693317,145.849068 339.476981,158.254723 343.642494,169.944906 L345.457634,175.038952 C351.309749,191.462448 348.685361,209.715473 338.443264,223.824971 L335.266491,228.201288 C327.976205,238.244376 322.769715,249.644999 319.953778,261.731453 L318.726722,266.998176 C314.770622,283.978393 302.694515,297.914963 286.450144,304.247332 L281.411658,306.211431 C269.848975,310.718788 259.305355,317.494761 250.402007,326.140123 L246.522337,329.907376 C234.014056,342.053214 216.32031,347.248566 199.231138,343.793325 L193.930621,342.721619 C181.766612,340.26219 169.233388,340.26219 157.069379,342.721619 L151.768862,343.793325 C134.67969,347.248566 116.985944,342.053214 104.477663,329.907376 L100.597993,326.140123 C91.6946446,317.494761 81.1510249,310.718788 69.5883424,306.211431 L64.5498555,304.247332 C48.305485,297.914963 36.2293784,283.978393 32.2732785,266.998176 L31.0462222,261.731453 C28.230285,249.644999 23.0237952,238.244376 15.7335088,228.201288 L12.5567363,223.824971 C2.31463948,209.715473 -0.309749289,191.462448 5.54236573,175.038952 L7.3575056,169.944906 C11.5230193,158.254723 13.3066832,145.849068 12.6034073,133.458859 L12.2969519,128.059773 C11.3089222,110.652813 18.9694762,93.8785395 32.771801,83.2261076 L37.052843,79.9220622 C46.8772864,72.3397008 55.0848032,62.8677214 61.191823,52.0641942 L63.8529822,47.3565123 C72.4327121,32.1786762 87.946037,22.2088676 105.316431,20.7095718 L110.704174,20.244538 C123.068356,19.1773448 135.093897,15.6463273 146.072277,9.85952602 L150.856152,7.33790333 Z M195.480891,16.1841923 C182.975742,9.59261755 168.024258,9.59261755 155.519109,16.1841923 L150.735235,18.705815 C138.576384,25.114853 125.257774,29.0255498 111.56411,30.2074949 L106.176367,30.6725288 C92.0926916,31.888137 79.5147026,39.9715197 72.5583765,52.2774991 L69.8972173,56.9851809 C63.1335287,68.9503778 54.0434832,79.4408496 43.162648,87.8385186 L38.881606,91.1425641 C27.6908722,99.7794083 21.4798011,113.379757 22.2808819,127.493079 L22.5873373,132.892165 C23.3662342,146.614655 21.3907785,160.354251 16.7773601,173.301443 L14.9622203,178.395489 C10.2174064,191.711432 12.3452245,206.510732 20.6493748,217.950518 L23.8261473,222.326835 C31.9003354,233.449825 37.6666628,246.076321 40.785389,259.462394 L42.0124453,264.729117 C45.2199963,278.496441 55.0111363,289.796019 68.181847,294.930217 L73.2203339,296.894316 C86.0263155,301.886335 97.7036578,309.390907 107.564355,318.965878 L111.444026,322.733131 C121.585567,332.580808 135.931411,336.793128 149.787075,333.991666 L155.087592,332.919959 C168.559558,330.196077 182.440442,330.196077 195.912408,332.919959 L201.212925,333.991666 C215.068589,336.793128 229.414433,332.580808 239.555974,322.733131 L243.435645,318.965878 C253.296342,309.390907 264.973684,301.886335 277.779666,296.894316 L282.818153,294.930217 C295.988864,289.796019 305.780004,278.496441 308.987555,264.729117 L310.214611,259.462394 C313.333337,246.076321 319.099665,233.449825 327.173853,222.326835 L330.350625,217.950518 C338.654775,206.510732 340.782594,191.711432 336.03778,178.395489 L334.22264,173.301443 C329.609221,160.354251 327.633766,146.614655 328.412663,132.892165 L328.719118,127.493079 C329.520199,113.379757 323.309128,99.7794083 312.118394,91.1425641 L307.837352,87.8385186 C296.956517,79.4408496 287.866471,68.9503778 281.102783,56.9851809 L278.441624,52.2774991 C271.485297,39.9715197 258.907308,31.888137 244.823633,30.6725288 L239.43589,30.2074949 C225.742226,29.0255498 212.423616,25.114853 200.264765,18.705815 L195.480891,16.1841923 Z" id="Star"></path>
                <g id="%" transform="translate(110.135, 115.98)">
                    <path d="M18.19,120.02 L99.45,1.02 L112.54,1.02 L31.28,120.02 L18.19,120.02 Z M27.71,64.94 C22.27,64.94 17.4533333,63.58 13.26,60.86 C9.06666667,58.14 5.80833333,54.3433333 3.485,49.47 C1.16166667,44.5966667 0,38.93 0,32.47 C0,26.01 1.16166667,20.3433333 3.485,15.47 C5.80833333,10.5966667 9.06666667,6.8 13.26,4.08 C17.4533333,1.36 22.27,0 27.71,0 C33.2633333,0 38.1083333,1.36 42.245,4.08 C46.3816667,6.8 49.5833333,10.5966667 51.85,15.47 C54.1166667,20.3433333 55.25,26.01 55.25,32.47 C55.25,38.93 54.1166667,44.5966667 51.85,49.47 C49.5833333,54.3433333 46.3816667,58.14 42.245,60.86 C38.1083333,63.58 33.2633333,64.94 27.71,64.94 Z M27.71,55.25 C32.9233333,55.25 37.0033333,53.2383333 39.95,49.215 C42.8966667,45.1916667 44.37,39.61 44.37,32.47 C44.37,25.33 42.8966667,19.7483333 39.95,15.725 C37.0033333,11.7016667 32.9233333,9.69 27.71,9.69 C22.61,9.69 18.5583333,11.7016667 15.555,15.725 C12.5516667,19.7483333 11.05,25.33 11.05,32.47 C11.05,39.4966667 12.5516667,45.05 15.555,49.13 C18.5583333,53.21 22.61,55.25 27.71,55.25 Z M103.02,121.04 C97.58,121.04 92.7633333,119.68 88.57,116.96 C84.3766667,114.24 81.1466667,110.443333 78.88,105.57 C76.6133333,100.696667 75.48,95.03 75.48,88.57 C75.48,82.11 76.6133333,76.4433333 78.88,71.57 C81.1466667,66.6966667 84.3766667,62.9 88.57,60.18 C92.7633333,57.46 97.58,56.1 103.02,56.1 C108.573333,56.1 113.418333,57.46 117.555,60.18 C121.691667,62.9 124.921667,66.6966667 127.245,71.57 C129.568333,76.4433333 130.73,82.11 130.73,88.57 C130.73,95.03 129.568333,100.696667 127.245,105.57 C124.921667,110.443333 121.691667,114.24 117.555,116.96 C113.418333,119.68 108.573333,121.04 103.02,121.04 Z M103.02,111.35 C108.12,111.35 112.171667,109.338333 115.175,105.315 C118.178333,101.291667 119.68,95.71 119.68,88.57 C119.68,81.5433333 118.178333,75.99 115.175,71.91 C112.171667,67.83 108.12,65.79 103.02,65.79 C97.92,65.79 93.8683333,67.8016667 90.865,71.825 C87.8616667,75.8483333 86.36,81.43 86.36,88.57 C86.36,95.71 87.8616667,101.291667 90.865,105.315 C93.8683333,109.338333 97.92,111.35 103.02,111.35 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
{% endif %}
      <div>
      <p class="lb-campaign-benefits-section-item-headline">{{ block.settings.headline }}</p>
      <p class="lb-campaign-benefits-section-item-subheadline">{{ block.settings.subheadline }}</p>
      </div>
    </div>
  {% endfor %}
</div>


    <!--
  <div class="lb-campaign-benefits-section-item"><img src="https://cdn.shopify.com/s/files/1/0663/6827/4675/files/logo.png?v=1692283231">Hole Dir das neue Produkte als erstes</div>
  <div class="lb-campaign-benefits-section-item"><img src="https://cdn.shopify.com/s/files/1/0663/6827/4675/files/logo.png?v=1692283231">Limitierte Produkte/Bundles</div>
</div>
    -->
  
<style>




  

.lb-campaign-benefits-section-holder {
  max-width: 700px;
  margin: 36px auto 18px auto;
  display: flex;
  justify-content: center;
    }

  .lb-campaign-benefits-section-item {
    width: 31.333%;
    margin: 1%;
    padding: 0px;
    color: white;
    text-align: center;
  }

  .lb-campaign-benefits-section-item img {
    max-width: 62px;
    display: inline-block;
    margin: 0px auto 18px auto;
  }

  .lb-campaign-benefits-section-item svg {
    width: 32px;
    height: 32px;
    display: inline-block;
    margin: 0px auto 18px auto;
  }

  .lb-campaign-benefits-section-item path {
    fill: {{ section.settings.introtextcolor }};
  }

.lb-campaign-benefits-section-item-headline {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  margin: 0px auto 3px auto;
  color: {{ section.settings.introtextcolor }};
  {% if section.settings.customfont == blank %}
  font-family: {{ section.settings.primaryfont.family }}, {{ primaryfont.fallback_families }} !important;
  {% else %}
  font-family: 'Customfont'!important;
  {% endif %}
}

.lb-campaign-benefits-section-item-subheadline {
  margin: 0px;
  font-size: 14px;
  line-height: 20px;
  color: {{ section.settings.introtextcolor }};
}

@media only screen and (max-width: 600px) {


.lb-campaign-benefits-section-holder {
 display: block;
    }
  
  .lb-campaign-benefits-section-item {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 9px;
    text-align: left;
  }

  .lb-campaign-benefits-section-item img, .lb-campaign-benefits-section-item svg {
    margin: 0px 19px 0px 0px;
  }
  
}
  
  </style>



    

    
  </div>
</div>





  
  <style>

    .lb-countdown-holder {
      max-width: 300px;
      margin: 18px auto 0px auto;
      display: none;/*flex*/
    }

    .lb-countdown-holder-item {
      width: 25%;
    }

    .lb-countdown-holder-item-number {
margin-bottom: 5px;
    font-size: 32px;
    background: white;
    padding: 9px;
    display: inline-block;
    border-radius: 6px;
      color: #2C709D;

        text-transform: uppercase;
  {% if section.settings.customfont == blank %}
  font-family: {{ section.settings.bannerfont.family }}, {{ bannerfont.fallback_families }} !important;
  {% else %}
  font-family: 'Customfont'!important;
  {% endif %}
    }

    .lb-countdown-holder-item-text {
      font-size: 14px;
      display: block;
      color: #2C709D;
    }
     
    </style>

    <script>
        // Gib das gewünschte Enddatum ein (Jahr, Monat, Tag, Stunde, Minute, Sekunde)
        const endDate = new Date("{{ section.settings.countdowndate }}T{{ section.settings.countdowntime }}").getTime();

        const countdown = setInterval(function() {
            const currentDate = new Date().getTime();
            const timeLeft = endDate - currentDate;

            if (timeLeft <= 0) {
                clearInterval(countdown);
                document.getElementById("countdown").innerHTML = "Countdown abgelaufen!";
            } else {
                const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
                const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
                const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

                document.getElementById("days").textContent = String(days).padStart(2, '0');
                document.getElementById("hours").textContent = String(hours).padStart(2, '0');
                document.getElementById("minutes").textContent = String(minutes).padStart(2, '0');
                document.getElementById("seconds").textContent = String(seconds).padStart(2, '0');
            }
        }, 1000);
    </script>




<style>


    .lb-campaign-intro-section {
  padding: 32px 18px 9px 18px;
      background-color: {{ section.settings.introbackground }};
      {% if section.settings.introbackgroundimage != blank %}
      background-image: url({{ section.settings.introbackgroundimage | img_url: '1200x' }});
      {% endif %}
      background-position: center center;
      background-size: cover;
    }

  .lb-campaign-intro-section-holder {
    text-align: center;
  }

    .lb-campaign-intro-section-firsttext {
  color: {{ section.settings.introtextcolor }};
      text-align: center;
        font-size: 16px;
        line-height: 22px;
            margin: 0px 0px 9px 0px;
        font-weight: bold;
    }

    .lb-campaign-intro-section-headline {
  color: {{ section.settings.introtextcolor }};
      text-align: center;
      font-size: 52px;
            margin: 0px 0px 9px 0px;
      line-height: 58px;
         font-family: {{ section.settings.primaryfont.family }}, {{ primaryfont.fallback_families }} !important;
    }

.lb-campaign-intro-section-headline-logo {
        width: 90%;
        display: block;
        margin: 18px auto 0px auto;
        max-width: 400px;
}

    .lb-campaign-intro-section-subtext {
      color: {{ section.settings.introtextcolor }};
      text-align: center;
      margin: 0px auto;
      font-size: 18px;
      line-height: 24px;
      max-width: 500px;
      font-family: {{ section.settings.secondaryfont.family }}, {{ secondaryfont.fallback_families }} !important;
    }


    .lb-campaign-intro-section h3 {
  color: #EF9C02;
      text-align: center;
    }


  .lb-campaign-black-preoptin {
    max-width: 500px;
        display: block;
    margin: 36px auto 0px auto;
  }
  
    .lb-campaign-intro-section a {
  color: black;
      background: white;
      padding: 18px 36px;
      text-align: center;
      display: inline-block;
    }

@media only screen and (max-width: 600px) {

           .lb-campaign-intro-section {
  padding: 36px 18px;
    }

      .lb-campaign-intro-section-firsttext {
        font-size: 14px;
        line-height: 20px;
    }
        
    .lb-campaign-intro-section-subtext {
      font-size: 14px;
      line-height: 20px;
}
        
  </style>

























<div class="banneranimation-section">
  <div class="banneranimation">
    <span>{{ section.settings.bannertext }}</span> 
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
  </div>
</div>













<div class="lb-password-end">

   <h3>Du hast noch keinen exklusiven Zugang?</h3>
  <p>
   
Dann trage Dich jetzt ein und hol Dir Dein Passwort!
  <p>
    

<div class="lb-campaign-black-preoptin">
  {{ section.settings.embedform }}
</div>


  <img src="https://cdn.shopify.com/s/files/1/0317/7116/4804/files/stortebekker_team.webp?v=1716466397">

    <p>
Wir freuen uns auf Deinen Besuch!<br>
Dein Störtebekker Team
  <p>
  


</div>


  <style>

.lb-password-end {
        {% if section.settings.introbackgroundimage != blank %}
      background-image: url({{ section.settings.introbackgroundimage | img_url: '1200x' }});
      {% endif %}
  padding: 32px 18px;
 background-position: center center;
  background-size: cover;
  color: white;
  text-align: center;
}


.lb-password-end h3  {
      color: white;
font-size: 26px;
        line-height: 32px;
        margin: 0px auto 9px auto;
        text-transform: uppercase;
  {% if section.settings.customfont == blank %}
  font-family: {{ section.settings.bannerfont.family }}, {{ bannerfont.fallback_families }} !important;
  {% else %}
  font-family: 'Customfont'!important;
  {% endif %}
}

.lb-password-end img {
  margin: 36px auto;
  max-width: 500px;
  width: 90%;
  display: block;
  border-radius: 15px;
}

    
    </style>






<div class="banneranimation-section">
  <div class="banneranimation">
    <span>{{ section.settings.bannertext }}</span> 
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
    <span>{{ section.settings.bannertext }}</span>
  </div>
</div>





<style>



  






  

  .lb-campaign-featured-section   {
  padding: 72px 18px;
    }

.lb-campaign-featured-item {
  max-width: 600px;
  margin: auto;
  display: flex;
  background: #f2f2f2;
  padding: 18px;
  border-radius: 9px;
  align-items: center;
  text-decoration: none;
}

.lb-campaign-featured-item h2 {
  margin: 0px;
}

.lb-campaign-featured-item p {
  margin: 0px;
}
  
.lb-campaign-featured-item img {
  margin-right: 18px;
}
  





  






  

  
  
  
</style>










{% schema %}
{
  "name": "Black Friday Voranmeldung",
  "settings": [
    {
      "type": "header",
      "content": {
        "de": "Laufschrift Banner",
        "en": "Laufschrift Banner"
      },
      "info": "Definiere das Styling der Laufschrift Banner"
    },
   {
      "type": "text",
     "id": "bannertext",
     "default": "BLACK WEEK | BIS ZU 50%",
     "label": "Bannertext"
    },
    {
      "type": "color",
     "id": "bannerbg",
     "default": "#61F4B4",
     "label": "Background"
    },
   {
      "type": "image_picker",
     "id": "bannerbgimage",
     "label": "Badge Background Color"
    },
    {
      "type": "color",
     "id": "bannerfontcolor",
     "default": "#000000",
     "label": "Schriftfarbe"
    },
    {
      "type": "font_picker",
      "id": "bannerfont",
      "default": "sans-serif",
      "label": "Schriftart"
    },
    {
      "type": "text",
      "id": "customfont",
      "default": "sans-serif",
      "label": "Schriftart"
    },
    {
      "type": "header",
      "content": {
        "de": "Seiteninhalt",
        "en": "Seiteninhalt"
      },
      "info": "Fülle den Seiteninhalt Deiner Voranmeldungsseite"
    },
    {
      "type": "color",
     "id": "introbackground",
     "default": "#000000",
     "label": "Background"
    },
   {
      "type": "image_picker",
     "id": "introbackgroundimage",
     "label": "Seiteninhalt Hintergrundbild"
    },
   {
      "type": "color",
     "id": "introtextcolor",
     "default": "#FFFFFF",
     "label": "Font Color"
    },
    {
      "type": "font_picker",
      "id": "primaryfont",
      "default": "sans-serif",
      "label": "Schriftart"
    },
    {
      "type": "font_picker",
      "id": "secondaryfont",
      "default": "sans-serif",
      "label": "Schriftart"
    },
   {
      "type": "text",
     "id": "date",
     "default": "ab dem 17.11.",
     "label": "Datum"
    },
   {
      "type": "text",
     "id": "headline",
     "default": "Black Week",
     "label": "Überschrift"
    },
   {
      "type": "image_picker",
     "id": "headlinelogo",
     "label": "Badge Background Color",
     "info": "Füge hier anstatt des Textes dein eigenes Black Friday Logo ein."
    },
    {
      "type": "textarea",
     "id": "subheadline",
     "default": "Sichere Dir bis zu 50% Rabatt und weitere exklusive Vorteile beim größten Sale des Jahres. Melde Dich jetzt an und wir sagen Dir Bescheid, sobald es losgeht!",
     "label": "Untertitel"
    },
    {
  "type": "select",
  "id": "countdowndate",
  "label": "Datum",
  "options": [
{
    "value": "2025-04-14",
    "label": "14.04.2025"
  },
  {
    "value": "2024-03-29",
    "label": "29.03.2024"
  },
  {
    "value": "2024-03-30",
    "label": "30.03.2024"
  },
  {
    "value": "2024-03-31",
    "label": "31.03.2024"
  }
  ],
  "default": "2025-04-14"
},  
    {
  "type": "select",
  "id": "countdowntime",
  "label": "Uhrzeit",
  "options": [
    {
      "value": "00:00:00",
      "label": "0 Uhr"
    },
    {
      "value": "01:00:00",
      "label": "1 Uhr"
    },
    {
      "value": "02:00:00",
      "label": "2 Uhr"
    },
    {
      "value": "03:00:00",
      "label": "3 Uhr"
    },
    {
      "value": "04:00:00",
      "label": "4 Uhr"
    },
    {
      "value": "05:00:00",
      "label": "5 Uhr"
    },
    {
      "value": "06:00:00",
      "label": "6 Uhr"
    },
    {
      "value": "07:00:00",
      "label": "7 Uhr"
    },
    {
      "value": "08:00:00",
      "label": "8 Uhr"
    },
    {
      "value": "09:00:00",
      "label": "9 Uhr"
    },
    {
      "value": "10:00:00",
      "label": "10 Uhr"
    },
    {
      "value": "11:00:00",
      "label": "11 Uhr"
    },
    {
      "value": "12:00:00",
      "label": "12 Uhr (Mittag)"
    },
    {
      "value": "13:00:00",
      "label": "13 Uhr"
    },
    {
      "value": "14:00:00",
      "label": "14 Uhr"
    },
    {
      "value": "15:00:00",
      "label": "15 Uhr"
    },
    {
      "value": "16:00:00",
      "label": "16 Uhr"
    },
    {
      "value": "17:00:00",
      "label": "17 Uhr"
    },
    {
      "value": "18:00:00",
      "label": "18 Uhr"
    },
    {
      "value": "19:00:00",
      "label": "19 Uhr"
    },
    {
      "value": "20:00:00",
      "label": "20 Uhr"
    },
    {
      "value": "21:00:00",
      "label": "21 Uhr"
    },
    {
      "value": "22:00:00",
      "label": "22 Uhr"
    },
    {
      "value": "23:00:00",
      "label": "23 Uhr"
    },
    {
      "value": "23:59:59",
      "label": "Mitternacht (23:59:59 Uhr)"
    }
  ],
  "default": "23:59:59"
},
    {
      "type": "html",
     "id": "embedform",
     "label": "Optin Formular"
    },
    {
      "type": "header",
      "content": {
        "de": "Vorteile",
        "en": "Benefits"
      }
    }
  ],
  "max_blocks": 4,
  "blocks": [
    {
      "name": "Vorteil",
      "type": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Rabatttext"
        },
        {
          "type": "text",
          "id": "headline",
          "default": "Verlosung",
          "label": "Rabatttext"
        },
        {
          "type": "textarea",
          "id": "subheadline",
          "default": "Sichere Dir 1 von 10 XY",
          "label": "Rabatttext"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Black Friday Password",
      "blocks": [
        {
          "type": "block",
          "settings": {
            "headline": "Voranmeldung startet jetzt!",
            "subheadline": "Melden Sie sich jetzt an, um exklusive Angebote zu erhalten."
          }
        },
        {
          "type": "block",
          "settings": {
            "headline": "Sparen Sie bis zu 50%",
            "subheadline": "Unglaubliche Rabatte auf unsere Bestseller."
          }
        },
        {
          "type": "block",
          "settings": {
            "headline": "Kostenloser Versand",
            "subheadline": "Kostenloser Versand für Bestellungen über 50€."
          }
        },
        {
          "type": "block",
          "settings": {
            "headline": "Bonuspunkte",
            "subheadline": "Verdienen Sie Bonuspunkte für jede Bestellung."
          }
        }
      ]
    }
  ]
}
{% endschema %}

