{%- assign product_subheading = product.metafields.my_fields.subheadlines -%}
{%- assign variant_subheading = product.selected_or_first_available_variant.metafields.my_fields.subheadlines | default:
product_subheading -%}
{%- if variant_subheading != blank -%}
<div data-metafield="my_fields.subheadlines">
  {{ variant_subheading }}
</div>
{%- endif -%}

{%- assign product_pdp_benefits = product.metafields.custom.pdp_benefits -%}
{%- assign variant_pdp_benefits = product.selected_or_first_available_variant.metafields.custom.pdp_benefits | default:
product_pdp_benefits -%}
{%- if variant_pdp_benefits != blank -%}
<div data-metafield="custom.pdp_benefits">
  {{ variant_pdp_benefits }}
</div>
{%- endif -%}

{%- assign compare_image_desktop = product.selected_or_first_available_variant.metafields.custom.lb_pdp_compare_desktop | default: product.metafields.custom.lb_pdp_compare_desktop -%}
{%- if compare_image_desktop != blank -%}
<div data-metafield="custom.lb_pdp_compare_desktop">{{ compare_image_desktop | img_url: '1800x' }}</div>
{%- endif -%}

{%- assign compare_image_mobile = product.selected_or_first_available_variant.metafields.custom.lb_pdp_compare_mobile |
default: product.metafields.custom.lb_pdp_compare_mobile -%}
{%- if compare_image_mobile != blank -%}
<div data-metafield="custom.lb_pdp_compare_mobile">{{ compare_image_mobile | img_url: '500x' }}</div>
{%- endif -%}

{%- assign image_anwendung = product.selected_or_first_available_variant.metafields.my_fields.anwendung | default:
product.metafields.my_fields.anwendung -%}
{%- if image_anwendung != blank -%}
<div data-metafield="my_fields.anwendung">{{ image_anwendung | img_url: '500x' }}</div>
{%- endif -%}

{%- assign product_inhaltsstoffe = product.metafields.my_fields.inhaltsstoffe -%}
{%- assign variant_inhaltsstoffe = product.selected_or_first_available_variant.metafields.my_fields.inhaltsstoffe |
default: product_inhaltsstoffe -%}
{%- if variant_inhaltsstoffe != blank -%}
<div data-metafield="my_fields.inhaltsstoffe">
  {{ variant_inhaltsstoffe }}
</div>
{%- endif -%}


{%- assign product_heighlights = product.selected_or_first_available_variant.metafields.custom.product_highlights.value | default: product.metafields.custom.product_highlights.value -%}
{%- if product_heighlights != blank -%}
  <div data-metafield="custom.product_highlights" class="boxoboxo">
    <div id="boxoheadline">Produkt-Highlights</div>
    {%- for product_heighlight in product_heighlights -%}
      <span><img src="{{ product_heighlight.icon | image_url: width: 50 }}" loading="lazy">{{ product_heighlight.title }}</span>
    {%- endfor -%}
  </div>
{%- endif -%}

{%- render 'variant-picker' -%}
