<div class="lb-blog"> 
  <h1 class="lb-blog-title">{{ blog.title | escape }}</h1>
<h3 class="lb-blog-sub-title">Hier erfährst du alles über die Rasur & Bartpflege</h3>


    <div class="lb-blog-filter">
    <div>Filtern nach Themen:</div>  

    {% if canonical_url == 'https://stoertebekker.com/blogs/blog' or canonical_url == 'https://stoertebekker.com/de-ch/blogs/blog' %}
    <a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/" class="lb-blog-active-tag">Alle</a>{% else %}<a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/">Alle</a>
    {% endif %}

    {% if canonical_url contains '/blog/tagged/rasur' %}  
    <a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/rasur" class="lb-blog-active-tag">Rasur</a>{% else %}<a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/rasur">Rasur</a>
    {% endif %}
      
    {% if canonical_url contains '/blog/tagged/bartpflege' %}      
    <a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/bartpflege" class="lb-blog-active-tag">Bartpflege</a>{% else %}<a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/bartpflege">Bartpflege</a>
    {% endif %}

    {% if canonical_url contains '/blog/tagged/korperpflege' %}      
    <a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/korperpflege" class="lb-blog-active-tag">Körperpflege</a>{% else %}<a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/korperpflege">Körperpflege</a>
    {% endif %}
      
    {% if canonical_url contains '/blog/tagged/bartstile' %}      
    <a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/bartstile" class="lb-blog-active-tag">Bartstile</a>{% else %} <a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/bartstile">Bartstile</a>
    {% endif %}
    
      <!--
    {% if canonical_url contains '/blog/tagged/rasierzubehoer-hygiene' %}      
    <a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/rasierzubehoer-hygiene" class="lb-blog-active-tag">Rasierzubehör und Hygiene</a>{% else %}<a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/rasierzubehoer-hygiene">Rasierzubehör und Hygiene</a>
    {% endif %}
    -->
      
    {% if canonical_url contains '/blog/tagged/stoertebekker' %}      
    <a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/stoertebekker" class="lb-blog-active-tag">Störtebekker</a>{% else %}<a href="{% if routes.root_url != '/' %}{{ shop.url }}{{ routes.root_url }}{% endif %}/blogs/blog/tagged/stoertebekker">Störtebekker</a>
    {% endif %}
      
	</div>

<style>

  .lb-blog-filter {
      padding: 0px 18px 36px 18px;
      text-align: center;
      font-family: "Open Sans";
  }
  
 
    .lb-blog-filter div {
      color: #3C3C3B;
      margin-bottom: 9px;
      display: block;
      font-size: 14px;
  }
  
   .lb-blog-filter a {
     color: #3C3C3B;
     background: #efece0;
     padding: 9px 7px 9px 9px;
     margin: 5px;
     font-size: 12px;
     border-radius: 6px;
     display: inline-block;
     transition: all 0.3s;
     font-family: "Open Sans";
     width: 100px;
  }

   .lb-blog-filter a:hover {
  background: #3C3C3B;
     color: #FFFFFF;
  }

  .lb-blog-active-tag {
  background: #3C3C3B!important;
     color: #FFFFFF!important;
  }


</style>

  
	<div class="lb-blog-section-holder">
    {% for article in blog.articles %}
      <div class="lb-blog-section-item">
        <a href="{{ article.url }}"> 
          <div class="cont-box">
          <img src="{{ article | img_url: '500x' }}">
          </div>
        </a>
        <div class="lb-blog-item-content">
       <h2 class="featured-blog__title">
  <a href="{{ article.url }}" title="{{ article.title }}" style="color:black">{{ article.title }}</a>
</h2>
          <div class="lb-blog-content">{{ article.content }}</div>
          <a href="{{ article.url }}" class="lb-blog-link">Mehr lesen</a>
        </div>
      </div>
    {% endfor %}  
  </div>
</div>

